* { 
  box-sizing: border-box;}

  head {
    display: center;
    background-color: darkgoldenrod;
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
    color: rgb(241, 238, 228);
    border-radius: 1px;
  }

  body {
  font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
  border-radius: 1px;
  }

  header {
    border: 2px solid;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 2%;
    position: relative;
  }

  h1 {
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    color: whitesmoke;
  }

  h2 {
    font-size: 55px;
    text-align: center;
    color: whitesmoke;
  }

  a {
    display: inline-flex;
    position: relative;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }


  .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  img {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-height: 900px;
  }

  body {
    background-image: url(123.jpg);
    background-size: 200px;
    background-color:rgb(255, 255, 255);
    border-radius: 1px;
  }
p {
  font-size: 55px;
  text-align: center;
  color: whitesmoke;
}

#myHeader {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(241, 238, 228);
    margin: 20px;
    padding: 50px;
    border-radius: 1px;
    text-align: center;

  } 

  footer {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
    font-size: 50px;
    background-color: 000000;
    color: rgb(107, 106, 104);
    padding: 50px;
    margin: 20px;
    text-align: center;
  }

  