body {
    background-color: whitesmoke;
    text-align: center;
    border-color: blue;
    display: inline-block;
}
h1 {
    background-color: blue;
    color: white;
    width: 1300px;
    text-align: center;

}
div {
    text-align: center;
}
h2 {
    background-color: crimson;
    padding: 10px;
    color: white;
    text-align: center;
}
p {
    background-color: crimson;
    padding: 10px;
    color: white;
    text-align: center;
}
.box-1 {
    border-color: crimson;
    border-style: dashed;
    border-width: 25px;
    padding: 25px;
    margin: 50px;
    width: 1000px;
}
.box-2 {
    border-color: crimson;
    border-style: dashed;
    border-width: 25px;
    padding: 25px;
    margin: 50px;
    width: 1000px;
}
.box-3 {
    border-color: crimson;
    border-style: dashed;
    border-width: 25px;
    padding: 25px;
    margin: 50px;
    width: 1000px;
}
button{
    display: flex;
    justify-content: center;
    border-color: blue;
    width: 800px;
    transform: translate(25%, -50%)
  
}
footer {
    position: absolute;
    text-align: center;
    width: 1300px;
}