body {
    width: 300px;
    margin: 20px auto;
}

.circle{
   
    display: flex;
    background-color: black;
    border-radius: 50%;
    height: 888px;
    width: 888px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #5cabff, rgb(0, 0, 0));
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}